In [1]:
import pandas as pd
file_path = "/Users/rajendraacharya/Desktop/Python/AI:ML/AI-ML-training/env/crop yield data sheet.xlsx"
train_data = pd.read_excel(file_path)
print(train_data)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/rajendraacharya/Desktop/Python/AI:ML/AI-ML-training/env/crop yield data sheet.xlsx'

In [ ]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the '/Users/rajendraacharya/Desktop/Python/AI:ML/AI-ML-training/env/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
train_data.describe()

,Rain Fall (mm),Fertilizer,Nitrogen (N),Phosphorus (P),Potassium (K),Yeild (Q/acre)
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,849.797980,67.808081,70.737374,21.131313,18.060606,9.050505
std,400.042676,10.028202,6.677079,1.951695,1.817254,1.965902
min,400.000000,50.000000,59.000000,18.000000,15.000000,5.500000
25%,450.000000,60.000000,65.000000,19.500000,16.000000,7.000000
50%,1150.000000,70.000000,71.000000,21.000000,19.000000,9.000000
75%,1237.500000,77.000000,77.000000,23.000000,19.000000,11.000000
max,1300.000000,80.000000,80.000000,25.000000,22.000000,12.000000

In [ ]:
train_data.tail()

,Rain Fall (mm),Fertilizer,Temperatue,Nitrogen (N),Phosphorus (P),Potassium (K),Yeild (Q/acre)
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,:,NaN,NaN,NaN,NaN

In [ ]:
pd.set_option('display.max_rows', 10)

In [ ]:
train_data.tail(12)

,Rain Fall (mm),Fertilizer,Temperatue,Nitrogen (N),Phosphorus (P),Potassium (K),Yeild (Q/acre)
97,480.0,65.0,36,68.0,21.0,16.0,7.0
98,1230.0,80.0,28,80.0,24.0,20.0,12.0
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,:,NaN,NaN,NaN,NaN

In [ ]:
nan_count = train_data.isnull().sum(axis=1)

In [ ]:
data = train_data.dropna()
data.tail(12)

,Rain Fall (mm),Fertilizer,Temperatue,Nitrogen (N),Phosphorus (P),Potassium (K),Yeild (Q/acre)
87,475.0,60.0,39,70.0,20.0,17.0,8.0
88,1200.0,75.0,28,77.0,23.0,19.0,11.0
89,410.0,52.0,40,62.0,19.0,16.0,6.5
90,1225.0,75.0,28,75.0,23.0,20.0,11.0
91,460.0,60.0,39,60.0,20.0,16.0,7.0
...,...,...,...,...,...,...,...
94,1250.0,77.0,28,78.0,23.0,20.0,9.0
95,425.0,60.0,39,65.0,19.0,17.0,6.5
96,1220.0,79.0,28,77.0,23.0,21.0,10.5
97,480.0,65.0,36,68.0,21.0,16.0,7.0
98,1230.0,80.0,28,80.0,24.0,20.0,12.0